<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <p><b> Olá {{name}}</b></p>
    <p>Obrigado pelo seu contacto. Respondemos em breve.</p>
    <p>Cumprimentos,</p>
    <p>NS_Informática</p>
</body>
</html>